HELP.md
/target
!.mvn/wrapper/maven-wrapper.jar
!**/careercraftai/backend/src/main/**/target/
!**/careercraftai/backend/src/test/**/target/
careercraftai/.mvn/wrapper/maven-wrapper.jar
careercraftai/mvnw
careercraftai/mvnw.cmd

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/



